/*
 *  Liquid Slider v2
 *  Copyright 2012 Kevin Batdorf
 *  http://liquidslider.com
 *  MIT license
 */

.no-js .liquid-slider {
  height:350px;
  overflow:scroll;
}
.ls-preloader {  
  background: url(../images/loading.gif) #f2f2f2 no-repeat center 50%;
  opacity:1;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

/*** Containers ***/
.ls-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
}
.liquid-slider {
  width: 100%;
  margin: 0 auto;
  float: left;
  overflow: hidden;
  position: relative;
}
.arrows .liquid-slider {
  /* Margin between slider and arrows */
  margin: 0 10px;
}
.ls-responsive .liquid-slider {
  width: 100%;
  margin: 0;
}
.panel-container {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  /* from http://davidwalsh.name/translate3d */
}
.liquid-slider .panel-container .fade {
  width:100%;
  opacity: 0;
  position: absolute;
  top: 0; 
  left: 0;
  display: block;
}

/*** Panels ***/
.liquid-slider .panel {  
  width: 100%;
  display: block;
  float: left;
}
.panel-wrapper {  
  padding: 0px;
  position:relative;
}
.panel-wrapper p{  
  padding: 0px;
  margin: 5px 0px;
}

/*** Tabbed Navigation ***/
.ls-nav {
  overflow:hidden;
  clear:both;
}
.ls-nav a {
  background: #d8d8d8;
  color: #333333;
  margin-right: 1px;
  padding: 10px 15px;  
  outline:0;
}
.ls-nav a:hover {
  background: #f2f2f2;
  color: #333333;
  text-shadow: none;
}
.ls-nav .current a {
  background: #f2f2f2;
}
.currentCrossLink {
  font-weight: bold;
}
.ls-nav ul {  
  padding:0;
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
.ls-nav ul li {
  display: inline;
}
.ls-nav ul li a {
  display: block;
  float: left;
  text-decoration: none;
}

/*** Mobile Navigation ***/
.ls-select-box { 
  width: 100%;
  height: 35px;
  overflow: hidden;
  background: url(../images/menu.png) no-repeat right #ddd;
}
.ls-select-box select {  
  width: 150%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  background: transparent;
  padding: 5px;
  font-size: 110%;
  border: none;
  height: 35px;
  cursor:pointer;
  outline: 0;
}

/*** Arrow Navigation (non-graphical) ***/
.ls-nav-left, .ls-nav-right {
  float: left;
  clear:both;
}
.ls-nav-left a, .ls-nav-right a {
  background: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.ls-responsive .ls-nav-left {
  position: absolute;
  left: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-left a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-left a:hover {
  background: #747474;
}
.ls-responsive .ls-nav-right {
  position: absolute;
  right: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-right a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-right a:hover {
  background: #747474;
}

/*** Arrow Navigation (graphical) ***/
.ls-nav-left-arrow, .ls-nav-right-arrow {
  cursor: pointer;
  float: left;
  clear: both;
}
.ls-nav-left-arrow a, .ls-nav-right-arrow a {
  display: block;
}
[class$="-arrow"] {
  width: 25px;
  height: 25px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  margin-top: 50px;
  position:relative;
}
.ls-nav-right-arrow {
  background-position: top right;  
  margin-right: 5px;
}
.ls-nav-left-arrow {
  background-position: top left;  
  margin-left: 5px;
}
.ls-nav-left-arrow:hover {
  background-position: bottom left;
}
.ls-nav-right-arrow:hover {
  background-position: bottom right;
}
.ls-responsive .ls-nav-left-arrow {
  position: absolute;
  left: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-right-arrow {
  position: absolute;
  right: 0;
  z-index: 2;
}
.sliderholder {
  width:100%
}
.slidernav {
  width:27%;
  float:left;
  border-right: 1px #ccc solid;
}
.slidernav a{
  color:#ccc;
}
.slidernav .ls-current {
  color:#000;
}
.slidernav ol {
    display: block;
    padding: 0 0 0 26px;
    list-style: none;
    font-size: 14px;
    font-family: arial;
    overflow: hidden;
    counter-reset: numList;
    margin-left: 15px;
}
.slidernav ol li {
    margin: 10px 0px 10px 50px;
    position: relative;
    line-height: 30px;

}
.slidernav ol li.inactive:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: -45px;
    
    font: bold 18px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 30px;
    
    width: 30px; height: 30px;
    background: #777;
    
    -moz-border-radius: 999px;
    border-radius: 999px
}
.slidernav ol li.active:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: -45px;
    
    font: bold 18px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 30px;
    
    width: 30px; height: 30px;
    background: #13c0df;
    
    -moz-border-radius: 999px;
    border-radius: 999px
}

.slidertext {
  width:70%;
  float:right;
  overflow: hidden !important;
}
.slidernav a:hover {
  cursor:pointer;
}
.slidernav li {
  cursor:pointer;
}
@media (max-width: 1080px) {
  .slidernav {
  width:35%;
  float:left;
  border-right: 1px #ccc solid;
}
.slidertext {
width: 60%;
float: right;
overflow: hidden !important;
}
@media (max-width: 880px) {
  .slidernav {
  width:35px;
  float:left;
  border-right: 1px #ccc solid;
  border-bottom: 0px #ccc solid;
}


.slidertext {
width: 90%;
float: right;
overflow: hidden !important;
}
.slidernav ol {
display: block;
padding: 0px;
  margin:0px;
}
.panel-wrapper p {
padding: 20px;
margin: 5px 0px;
}
  .slidernav ol li.inactive:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: 0px;
    
    font: bold 18px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 30px;
    
    width: 30px; height: 30px;
    background: #777;
    
    -moz-border-radius: 0px;
    border-radius: 0px
}
.slidernav ol li.active:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: 0px;
    
    font: bold 18px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 30px;
    
    width: 30px; height: 30px;
    background: #13c0df;
    
    -moz-border-radius: 0px;
    border-radius: 0px
}
  .slidernav ol li {
    width:30px;
    height:30px;
    overflow:hidden;
  }
  .slidernav ol li {
    margin: 0px 0px 10px 5px;
    position: relative;
    line-height: 30px;

}
.slidertext p {
padding: 0px 20px !important;
margin: 0px 0px !important;
}
}