
.lightSlider {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.lightSlider li {
  height: 1px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.lightSlider li.active {
  height: auto;

}
.smsquote-left {
font-size:150px;
display:block;
width:60px;
height:50px;
overflow: hidden;
}
.smsquote {
display: inline-block;
font-style: normal;
font-weight: normal;
line-height: 130px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.tssidenav.active {
  color:#000;
}
.tssidenav.inactive {
  color:#ccc;
}
.tssidenav {
  width:24%;
  float:left;
  text-align:right;
  padding:0px 5% 0 0;
  margin:0 5% 0 0;
  border-right: 1px solid #fff;
  
}
.tssidenav h3 {
	font-weight:normal;
}
.tssidenav li {
  margin:20px 0px;
  cursor:pointer;
}
.tsslider {
  width:65%;
  text-align:left;
  float:left;
}
#lightSlider li p:nth-child(1)
{
width: 45%;
  margin:20px 4% 20px 0 !important;
  float:left;
  text-align: justify;
} 
#lightSlider li p {
  width: 45%;
  margin:20px 4% 20px 0 !important;
  float:right;
  text-align: justify;
}

#lightSlider li .drop {
    display: block;
    float: left;
    padding: 0px 5px;
    text-align: center;
}
.pl-black .tssidenav li span {

}
.tssidenav li.active span {
 opacity: .95;
}
 .tssidenav li.inactive span {
  opacity: .4;
}
.tssidenav li.inactive:hover span {
  opacity: .95;
}
@media only screen 
and (max-width : 800px) {
	#lightSlider li p {
  	margin:20px 0px;
    float:none !important;
    width:100%;
	}
  #lightSlider li p:nth-child(1)
{
  float:none !important;
  width:100%;
} 
  .tssidenav {
  width:29%;
  float:left;
  text-align:right;
  padding-right:5%;
  margin-right:5%;
  border-right: 1px solid #fff;
  
}
  .tsslider {
  width:60%;
  text-align:left;
  float:left;
}
 
}
@media only screen 
and (max-width : 480px) {
.tssidenav li span {
  display:none;
}
.tssidenav {
  width:30px;
}
.tssidenav li {
  width:30px;
  height:30px;
  text-align:center;
  padding:0px;
  margin:20px auto;
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
  .tssidenav li.active{
  background:#fff;
  }
  .tssidenav li.inactive{
  background:#999;
  }
  .tsslider {
  width:80%;
  text-align:left;
  float:left;
}
  .tssidenav {
  width:8%;
  }
}